.section-video{
    margin-top: 15rem;
    
    &__video{
        position: absolute;
        top: 18px;
        left: 17px;
        width: 94%;
    }
    &__screen{
        position: absolute;
        top: 0;
        left: 0;
    }
    &__video-box{
        position: relative;

    }

    &__text-box{
        p{
            font-size: 1.6rem;
            padding: 2rem;
        }
    }
}