
.btn--round{
    display: inline;
    padding: 1rem 2rem;
    border-radius: 13px;
}
.btn--light{
    background-color: $color-blue-light
}
.btn--dark{
    background-color: $color-blue-dark
}