$color-black: #000;
$color-grey: #666;
$color-white: rgb(243, 243, 243);
$color-avatar-1: #1d2120;
$color-avatar-2: #5a5c51;
$color-avatar-3: #ba9077;
$color-avatar-4: #bcd5d1;
$default-border-radius: 23px;

