*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
}
body{
    font-size: inherit;
    font-family: 'Lato', sans-serif;
}
a,a:link,a:visited,a:checked{
    font-size: 1.6rem;
    color: $color-black;
    font-weight: 400
}